cocosstudio/Music/Abyss.ogg
cocosstudio/Music/AbyssIntro.ogg
cocosstudio/Music/AcidSpit.ogg
cocosstudio/Music/Around.ogg
cocosstudio/Music/Benjamin.ogg
cocosstudio/Music/BlackTar.ogg
cocosstudio/Music/Blizzard.ogg
cocosstudio/Music/Bloodline.ogg
cocosstudio/Music/BurningCoals.ogg
cocosstudio/Music/Decade.ogg
cocosstudio/Music/Delay.ogg
cocosstudio/Music/Detection.ogg
cocosstudio/Music/Disturbance.ogg
cocosstudio/Music/Divide.ogg
cocosstudio/Music/Dubmood.ogg
cocosstudio/Music/Dust.ogg
cocosstudio/Music/Fahkeet.ogg
cocosstudio/Music/Frantic.ogg
cocosstudio/Music/FutureClub.ogg
cocosstudio/Music/Ghost.ogg
cocosstudio/Music/GuidedMeditation.ogg
cocosstudio/Music/Hideout.ogg
cocosstudio/Music/HollywoodHeights.ogg
cocosstudio/Music/Hotline3.ogg
cocosstudio/Music/HotlineTheme.ogg
cocosstudio/Music/Interlude.ogg
cocosstudio/Music/Java.ogg
cocosstudio/Music/KeepCalm.ogg
cocosstudio/Music/LePerv.ogg
cocosstudio/Music/MiamiJam.ogg
cocosstudio/Music/MsMinnie.ogg
cocosstudio/Music/NARC.ogg
cocosstudio/Music/NewWave.ogg
cocosstudio/Music/Pursuit.ogg
cocosstudio/Music/Quixotic.ogg
cocosstudio/Music/Remorse.ogg
cocosstudio/Music/Richard.ogg
cocosstudio/Music/RollerMobster.ogg
cocosstudio/Music/Rumble.ogg
cocosstudio/Music/Run.ogg
cocosstudio/Music/Rust.ogg
cocosstudio/Music/Sexualizer.ogg
cocosstudio/Music/SheMeditates.ogg
cocosstudio/Music/SlumLord.ogg
cocosstudio/Music/Technoir.ogg
cocosstudio/Music/Videodrome.ogg
cocosstudio/Music/WayHome.ogg
cocosstudio/Music/WouJuno.ogg
cocosstudio/Music/YouAreTheBlood.ogg
cocosstudio/Music/ZebraBackground.ogg
cocosstudio/Music/beams.ogg
cocosstudio/Music/evil.ogg
cocosstudio/Music/voyager.ogg
cocosstudio/Sounds/0empty.wav
cocosstudio/Sounds/snd9mm.wav
cocosstudio/Sounds/sndAcid.wav
cocosstudio/Sounds/sndAlarm.wav
cocosstudio/Sounds/sndApplause.wav
cocosstudio/Sounds/sndApplauseShort.wav
cocosstudio/Sounds/sndAquarium.wav
cocosstudio/Sounds/sndBearEat.wav
cocosstudio/Sounds/sndBearRoar.wav
cocosstudio/Sounds/sndBigExplosion.wav
cocosstudio/Sounds/sndBombAlarm.mp3
cocosstudio/Sounds/sndBombAlarm.wav
cocosstudio/Sounds/sndBonesBreak.wav
cocosstudio/Sounds/sndBonesBreak2.wav
cocosstudio/Sounds/sndBottleBreak.wav
cocosstudio/Sounds/sndBoxingBag.wav
cocosstudio/Sounds/sndBusAirBreak.wav
cocosstudio/Sounds/sndBusArrive.wav
cocosstudio/Sounds/sndBusCome.wav
cocosstudio/Sounds/sndBusLeave.wav
cocosstudio/Sounds/sndCarClose.wav
cocosstudio/Sounds/sndCarEngine2.wav
cocosstudio/Sounds/sndCarOpen.wav
cocosstudio/Sounds/sndCarStart.wav
cocosstudio/Sounds/sndCatchFire.wav
cocosstudio/Sounds/sndCaveExplosion.wav
cocosstudio/Sounds/sndChainsawAttack.wav
cocosstudio/Sounds/sndChainsawExecution.wav
cocosstudio/Sounds/sndChainsawExecution1.wav
cocosstudio/Sounds/sndChainsawExecution2.wav
cocosstudio/Sounds/sndChainsawStart.wav
cocosstudio/Sounds/sndCut1.wav
cocosstudio/Sounds/sndCut2.wav
cocosstudio/Sounds/sndDirector.wav
cocosstudio/Sounds/sndDogBark.wav
cocosstudio/Sounds/sndDogRip.wav
cocosstudio/Sounds/sndDoorHit.wav
cocosstudio/Sounds/sndDoorOpen.wav
cocosstudio/Sounds/sndDoubleBarrel.wav
cocosstudio/Sounds/sndDrawKnife.wav
cocosstudio/Sounds/sndExplode.wav
cocosstudio/Sounds/sndFamae.wav
cocosstudio/Sounds/sndFlameThrower.wav
cocosstudio/Sounds/sndFlameThrowerEnd.wav
cocosstudio/Sounds/sndFlameThrowerStart.wav
cocosstudio/Sounds/sndFloorCleared.wav
cocosstudio/Sounds/sndGangBang.wav
cocosstudio/Sounds/sndGlass1.wav
cocosstudio/Sounds/sndGlass2.wav
cocosstudio/Sounds/sndGlassBreakLSD.wav
cocosstudio/Sounds/sndGlassReverse.wav
cocosstudio/Sounds/sndHeadRip.wav
cocosstudio/Sounds/sndHeartBeat.wav
cocosstudio/Sounds/sndHeavy.wav
cocosstudio/Sounds/sndHit.wav
cocosstudio/Sounds/sndHit1.wav
cocosstudio/Sounds/sndHit2.wav
cocosstudio/Sounds/sndHit3.wav
cocosstudio/Sounds/sndInsertShell.wav
cocosstudio/Sounds/sndKalashnikov.wav
cocosstudio/Sounds/sndKnife.wav
cocosstudio/Sounds/sndKnock.wav
cocosstudio/Sounds/sndLSDBell.wav
cocosstudio/Sounds/sndLSDBell2.wav
cocosstudio/Sounds/sndLSDBell3.wav
cocosstudio/Sounds/sndLSDFreak.wav
cocosstudio/Sounds/sndLSDGate.wav
cocosstudio/Sounds/sndLSDMagnum.wav
cocosstudio/Sounds/sndLSDShotgun.wav
cocosstudio/Sounds/sndLSDSwanChainsaw.wav
cocosstudio/Sounds/sndLSDTigerDie.wav
cocosstudio/Sounds/sndLSDTigerRoar.wav
cocosstudio/Sounds/sndLevelComplete.wav
cocosstudio/Sounds/sndLightning1.wav
cocosstudio/Sounds/sndLightning2.wav
cocosstudio/Sounds/sndLightning3.wav
cocosstudio/Sounds/sndM16.wav
cocosstudio/Sounds/sndMagnum.wav
cocosstudio/Sounds/sndMendoza.wav
cocosstudio/Sounds/sndNailGun.wav
cocosstudio/Sounds/sndNoMercyGunCock.wav
cocosstudio/Sounds/sndNuclearBlast.wav
cocosstudio/Sounds/sndPause.wav
cocosstudio/Sounds/sndPhoneCall.wav
cocosstudio/Sounds/sndPhoneCallEcho.wav
cocosstudio/Sounds/sndPickUpWeapon.wav
cocosstudio/Sounds/sndPlay.wav
cocosstudio/Sounds/sndPoliceTape.wav
cocosstudio/Sounds/sndPounding.wav
cocosstudio/Sounds/sndPressPlay.wav
cocosstudio/Sounds/sndPressRewind.wav
cocosstudio/Sounds/sndPressStop.wav
cocosstudio/Sounds/sndPunch.wav
cocosstudio/Sounds/sndReloadClip.wav
cocosstudio/Sounds/sndRewind.wav
cocosstudio/Sounds/sndShotgun.wav
cocosstudio/Sounds/sndSilencer.wav
cocosstudio/Sounds/sndSkid.wav
cocosstudio/Sounds/sndSkid_dupe1.wav
cocosstudio/Sounds/sndSniper.wav
cocosstudio/Sounds/sndSplashAmmo.wav
cocosstudio/Sounds/sndSplashFace.wav
cocosstudio/Sounds/sndSplashLogo.wav
cocosstudio/Sounds/sndSplashWave.wav
cocosstudio/Sounds/sndStatic.wav
cocosstudio/Sounds/sndStaticVHS.wav
cocosstudio/Sounds/sndStopButton.wav
cocosstudio/Sounds/sndSwanDie.wav
cocosstudio/Sounds/sndSwanFlap.wav
cocosstudio/Sounds/sndSwanFly.wav
cocosstudio/Sounds/sndSwanRoar.wav
cocosstudio/Sounds/sndSwanShoot.wav
cocosstudio/Sounds/sndSwing1.wav
cocosstudio/Sounds/sndSwing2.wav
cocosstudio/Sounds/sndTaser.wav
cocosstudio/Sounds/sndThrow.wav
cocosstudio/Sounds/sndThunder.wav
cocosstudio/Sounds/sndUnPause.wav
cocosstudio/Sounds/sndUzi.wav
cocosstudio/Sounds/sndVHSClose.wav
cocosstudio/Sounds/sndVHSClose1.wav
cocosstudio/Sounds/sndVHSOpen.wav
cocosstudio/Sounds/sndVHSOpen1.wav
cocosstudio/Sounds/sndVHSSlideIn.wav
cocosstudio/Sounds/sndVHSSlideOut.wav
cocosstudio/Sounds/sndVHSStatic.wav
cocosstudio/Sounds/sndWaterCooler.wav
cocosstudio/Sounds/sndWeaponHit.wav
cocosstudio/Sounds/sndZebraScream.wav
cocosstudio/Sounds/untitled.wav
simulator/
res/
*.tlog
frameworks/runtime-src/proj.win32/Debug.win32/libcocos2d.exp
frameworks/runtime-src/proj.win32/Debug.win32/vc120.idb
frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32/vc120.idb
frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/vc120.idb
frameworks/cocos2d-x/external/bullet/proj.win32/Debug.win32/vc120.idb
frameworks/runtime-src/proj.win32/Debug.win32/HotlineMiami.exp
frameworks/runtime-src/proj.win32/Debug.win32/game.res
frameworks/runtime-src/proj.win32/HotlineMiami.sdf
frameworks/runtime-src/proj.win32/HotlineMiami.opensdf
*.o
*.d
*.class
*.a
frameworks/runtime-src/proj.android/assets/
frameworks/runtime-src/proj.android/bin/
frameworks/runtime-src/proj.android/obj/
frameworks/runtime-src/proj.android/local.properties
frameworks/runtime-src/proj.android/libs/armeabi/libcocos2dlua.so
frameworks/runtime-src/proj.android/libs/
frameworks/cocos2d-x/cocos/platform/android/java/bin/aidl/com/enhance/gameservice/IGameTuningService.aidl
frameworks/cocos2d-x/cocos/platform/android/java/bin/build.prop
frameworks/cocos2d-x/cocos/platform/android/java/bin/classes.jar
frameworks/cocos2d-x/cocos/platform/android/java/gen/com/enhance/gameservice/IGameTuningService.java
frameworks/cocos2d-x/cocos/platform/android/java/gen/org/cocos2dx/lib/BuildConfig.java
frameworks/cocos2d-x/cocos/platform/android/java/local.properties
frameworks/cocos2d-x/plugin/protocols/proj.android/obj/convert-dependencies.sh
frameworks/cocos2d-x/plugin/tools/toolsForPublish/environment.sh
frameworks/runtime-src/proj.android/gen/org/cocos2dx/HotlineMiami/BuildConfig.java
frameworks/runtime-src/proj.android/gen/org/cocos2dx/HotlineMiami/R.java
frameworks/runtime-src/proj.android/protocols/android/libPluginProtocol.jar.bac
runtime/android/
frameworks/cocos2d-x/cocos/2d/Debug.win32/ArmatureNodeReader.obj
frameworks/cocos2d-x/external/bullet/proj.win32/Debug.win32/
frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/
*.obj
*.lib
*.dll
frameworks/cocos2d-x/plugin/protocols/proj.ios/
frameworks/cocos2d-x/plugin/plugins/weibo/proj.ios/
*.pch
*.pdb
*.log
*.db
frameworks/runtime-src/proj.win32/HotlineMiami.vcxproj.user
*.suo
*.cache
*.exe
